.DS_Store
/Library/
Temp/
obj/
Logs/
Builds/
Library/
Debug/

*.csproj
*.csproj.meta
*.sln

.idea
Assets/Plugins/Editor/JetBrains/
*.sln.DotSettings.user
UserSettings

fastlane/README.md
fastlane/report.xml
.utmp
HOBA_BurstDebugInformation_DoNotShip